.app {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, Roboto;
}

.app-heading {
	margin: 30px 20px 30px 20px;
	display: flex;
	flex-diraction: row;
	justify-content: space-between;
	align-items: center;
}

.app-heading p {
	font-weight: 700;
	font-size: 36px;
}

.app-heading div {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	margin-top: 3px;
	background-color: #F8F8F8;
	display: none;
}
