.app {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, Roboto;
}

.app-heading {
	margin: 75px 100px 20px 100px;
	display: flex;
	flex-diraction: row;
	justify-content: space-between;
	align-items: center;
}

.app-heading p {
	font-weight: 700;
	font-size: 40px;
}

.app-heading div {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	margin-top: 3px;
	background-color: #F8F8F8;
	display: none;
}

@media only screen and (max-width: 600px) {
  .app-heading {
  	margin: 55px 10% 15px 10%
  }
}
